.share {
  width: 100%;
  height: 110px;
  border-radius: 10px;
  background-color: rgba(234, 222, 219, 0.863);
  box-shadow: 0px -1px 6px 0px rgba(5, 5, 5, 0.75);
  -webkit-box-shadow: 0px -1px 6px 0px rgba(5, 5, 5, 0.75);
  -moz-box-shadow: 0px -1px 6px 0px rgba(5, 5, 5, 0.75);
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px; /* margin of Add photo + Post(from right side)*/
}

.shareInput {
  border: rgba(5, 5, 5, 0.75);
  width: 90%;
}

.shareInput:focus {
  outline: none;
}

/*.shareHr {
  margin: 20px;
}*/

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.shareOptions {
  display: flex;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: black;
}
