.create-event {
  background-color: #ffffff;
  border: 1px solid #ece7de;
  border-radius: 12px;
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 7000px;
  width: 100%;
  box-sizing: border-box;
}

.create-event__title {
  color: #4b382a;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}

.create-event__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-event__row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* wrapping on small screens */
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 250px; /* preventing the screen to colapse when it's too narrow*/
}

.form-group.full-width {
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #4b382a;
  margin-bottom: 6px;
}

input,
textarea {
  font-family: inherit;
  font-size: 15px;
  border: 1px solid #d3c8bc;
  border-radius: 8px;
  padding: 10px 12px;
  outline: none;
  background-color: #fff;
  color: #4b382a;
  transition: border-color 0.2s ease;
  box-sizing: border-box;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: #4b382a;
  box-shadow: 0 0 0 2px rgba(75, 56, 42, 0.1);
}

textarea {
  resize: none;
  height: 90px;
}

input[type="file"] {
  background: none;
  border: none;
  font-size: 14px;
  color: #4b382a;
  padding: 0;
}

/*  flex row */
input[type="file"]::-webkit-file-upload-button {
  background-color: #4b382a;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #3c2d1f;
}

.create-event__submit {
  align-self: flex-end;
  background-color: #4b382a;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 10px 22px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.create-event__submit:hover {
  background-color: #3c2d1f;
}

/* Responsive behavior */
@media (max-width: 76px) {
  .create-event {
    padding: 18px;
  }

  .create-event__row {
    flex-direction: column;
    gap: 14px;
  }

  .form-group {
    width: 100%;
  }

  .create-event__submit {
    width: 100%;
    align-self: center;
    margin-top: 10px;
  }

  
}