.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  max-width: 630px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}