.profile-info {
  display: left;
  flex-direction: column;
  text-align: left;
  gap: 0px;
}

.profile-name {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color: #38404A;
}

.profile-study {
  font-size: 18px;
  text-align: left;
  color: #38404A;
}

.profile-bio {
  font-size: 16px;
  text-align: left;
  color: #777;
}